#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.dtsi
*.dts
*.sh
*.bspf

NOVAembed_P_Parser.depend
NOVAembed_P_Parser.layout
/bin/
/obj/
#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

